[Unit]
Description=USB Gadget Service
After=systemd-modules-load.service
Before=networking.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usbgadget_enable.sh
ExecStop=/usr/local/bin//usbgadget_disable.sh
 
[Install]
WantedBy=sysinit.target
