[Unit]
Description=My USB gadget
After=systemd-modules-load.service apache2.service
Before=networking.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/myusbgadget
 
[Install]
WantedBy=sysinit.target
